name: Caller Two

on:
  push:
    branches:
      - main

jobs:
  call-reusable:
    uses: ./.github/workflows/reusable.yml
    with:
      target: prod
      service-name: serverless-prod
    secrets: inherit

  finish:
    runs-on: ubuntu-latest
    needs: call-reusable
    steps:
      - run: echo "Caller Two - finished running reusable workflow"
