name: Reusable workflow

on:
  workflow_call:
    inputs:
      target:
        required: true
        type: string
      service-name:
        required: true
        type: string

jobs:
  job1:
    runs-on: ubuntu-latest
    environment: ${{ inputs.target }}
    steps:
      - name: Add repo
        uses: actions/checkout@v3

      - name: Test environment secrets
        env:
          URL: ${{ secrets.URL }}
        run: |
          echo "Deploying ${{ inputs.service-name }} to ${{ inputs.target }}"
          ping -c1 $URL | tee output.txt

      - name: Test replace-tokens
        uses: cschleiden/replace-tokens@v1.1
        with:
          files: "config.json"
        env:
          API_KEY: notarealkey

      - name: Verify replace-tokens
        run: |
          cat config.json
        working-directory: ./src/folder
